@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
  
a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta {
    display: inline-block;
    margin: 20px auto;
    padding:  10px 20px;
    width: fit-content;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: .2s ease color, background-color;
}

.section-title {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 15px;
    color: black;
}

.section-title span {
    color: crimson;
}


/*
.banner-items {
    margin-top: 200px;
}
*/

/*banner section starts*/
/*banner background starts*/
#banner {
    background-image: url('./img/pexels-canva-studio-520.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

#banner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}

/*alternate code for banner background (Line No. 35 to 54)*/
/*
#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/pexels-canva-studio-520.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
*/
/*banner background ends*/

/*banner text starts*/
#banner h1 {
    display: block;
    width: fit-content;
    font-size: 6vw;
    position: relative;
    color: transparent;
    -webkit-animation: 1s animation-text ease forwards;
    -moz-animation: 1s animation-text ease forwards;
    animation: 1s animation-text ease forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

#banner h1:nth-child(1) {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

#banner h1:nth-child(2) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}

#banner h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: .6s animation-box ease;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

#banner h1:nth-child(1) span {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

#banner h1:nth-child(2) span {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}

@keyframes animation-box {
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}

@keyframes animation-text {
    100% {
        color: white;
    }
}
/*banner text ends*/

/*banner button starts*/
#banner .cta:hover {
    border: 2px solid crimson;
    background-color: crimson;
    font-weight: bold;
    color: black;
}
/*banner button ends*/
/*banner section ends*/

/*services section starts*/
#services .services {
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-header p {
    font-size: 1.2rem;
    margin: 5px;
    font-weight: 300;
    letter-spacing: .05rem;
}

#services .service-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 10%;
    padding: 25px 25px 25px;
    border-radius: 10px;
    -webkit-box-shadow:-1px 1px 15px -10px rgba(0,0,0,1); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: -1px 1px 15px -10px rgba(0,0,0,1); /* Firefox 3.5 - 3.6 */
    box-shadow: -1px 1px 15px -10px rgba(0,0,0,1); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    --h2color: darkblue;
    --pcolor: black;
    --pfontsize: .9rem;
    transition: .3s ease-in-out transform;
}

#services .service-item .icon img {
    width: fit-content;
    height: 75%;
    width: 50%;
}

#services .service-item h2 {
    font-size: 1.3rem;
    color: var(--h2color);
    text-transform: uppercase;
    width: fit-content;
    margin: 25px 25px 0;
}

#services .service-item p {
    font-size: var(--pfontsize);
    font-weight: 280;
    text-align: justify;
    color: var(--pcolor);
    margin: 10px 25px 0;
}

#services .service-item:hover {
    border: 2px solid crimson;
    background-color: crimson;
    transform: scale(1.025);
    /*background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.1)), url("./img/icons8-services (3).svg");*/
    color: white;
    opacity: 1;
    --h2color: white;
    --pcolor: darkblue;
    --pfontsize: .9rem;
}
/*services section ends*/

/*recent projects section starts*/
#projects .projects {
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .project-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#projects .project-item {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 10%;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow:-1px 1px 15px -10px rgba(0,0,0,1); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: -1px 1px 15px -10px rgba(0,0,0,1); /* Firefox 3.5 - 3.6 */
    box-shadow: -1px 1px 15px -10px rgba(0,0,0,1); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    --h2color: darkblue; 
    --pcolor: black;
    --pfontsize: .9rem;
    transition: .3s ease-in-out transform;
}

#projects .project-info {
    text-align: justify;
    width: fit-content;
    /*--background-img: linear-gradient(60deg, #29323c 0%, #485563 100%);
    background-image: var(--background-img)
    color: white;*/
}

#projects .project-info h1 {
    font-size: 1.3rem;
    margin: 25px 25px 0;
    /*color: var(--h2color);*/
    margin-bottom: 10px;
}

#projects .project-info h2 {
    margin: 0 25px 25px;
    margin-bottom: 10px;
}

#projects .project-info p {
    font-size: var(--pfontsize);
    font-weight: 280;
    /*color: var(--pcolor);*/
    margin: 0 25px 25px;
}

#projects .project-img img{
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#projects .project-item:hover {
    border: 2px solid crimson;
    background-color: crimson;
    transform: scale(1.025);
    /*background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.1)), url("./img/icons8-services (3).svg");*/
    color: white;
    opacity: 1;
    --h2color: white;
    --background-image: crimson;
    --pfontsize: .9rem;
}
/*recent projects section ends*/

/*about me section starts*/
#about-me .about-me {
    flex-direction: column-reverse;
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0;
}

#about-me .column-left {
    height: 360px;
    width: 250px;
}

#about-me .column-right {
    width: 100%;
}

#about-me .column-right h1 {
    margin-bottom: 15px;
}

#about-me .column-right h2 {
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about-me .column-right p {
    font-size: .9rem;
    font-weight: 280;
    /*color: var(--pcolor);*/
    margin: 0 10px 25px;
}

#about-me .column-right .cta {
    font-size: 2.5vw;
    letter-spacing: .05rem;
    border: 2px solid black;
    color: black;
}

#about-me .column-right .cta:hover {
    border: 2px solid crimson;
    background-color: crimson;
    font-weight: bold;
    color: white;
}

#about-me .about-img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#about-me .about-img img {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin-top: 25px;
    border: 10px solid white;
}

#about-me .about-img::after {
    content: '';
    position: absolute;
    left: -30px;
    top: 19px;
    width: 98%;
    height: 98%;
    border: 7px solid crimson;
    margin-top: 25px;
    z-index: -1;
}

#about-me .about-img::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 92%;
    height: 95%;
    margin-top: 25px;
    border: 10px solid white;
    background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, 0.5));
    --z-value: 3;
    z-index: var(--z-value);
}

#about-me .about-img:hover::before {
    --z-value: -3;
}
/*about me section ends*/

/*contact info section starts*/
#contact-info .contact-info {
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 100px 0;
}

#contact-info .contact-header h1 {
    margin-bottom: 50px;
}

#contact-info .contact-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#contact-info .contact-item {
    flex-basis: 80%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 10%;
    padding: 25px 25px 25px;
    border-radius: 10px;
    -webkit-box-shadow:-1px 1px 15px -10px rgba(0,0,0,1); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: -1px 1px 15px -10px rgba(0,0,0,1); /* Firefox 3.5 - 3.6 */
    box-shadow: -1px 1px 15px -10px rgba(0,0,0,1); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    --h2color: darkblue;
    --pcolor: black;
    --pfontsize: .9rem;
    transition: .3s ease-in-out transform;
}

#contact-info .contact-item .icon img {
    width: fit-content;
    height: 90%;
    width: 80%;
    padding-left: 20px;
}

#contact-info .contact-item h1 {
    font-size: 1.3rem;
    color: var(--h2color);
    text-transform: uppercase;
    width: fit-content;
    margin: 18px 25px 8px;
}

#contact-info .contact-item p {
    font-size: var(--pfontsize);
    font-weight: 20;
    font-weight: bold;
    text-align: left;
    color: var(--pcolor);
    margin: 2px 25px 0;
}

#contact-info .contact-item:hover {
    border: 2px solid crimson;
    background-color: crimson;
    transform: scale(1.025);
    /*background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.1)), url("./img/icons8-services (3).svg");*/
    color: white;
    opacity: 1;
    --h2color: white;
    --pcolor: darkblue;
    --pfontsize: .9rem;
}
/*contact info section ends*/

/*footer section starts*/
#footer .footer {
    background: crimson;
    min-height: 300px;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0 10px;
}

#footer .footer h1 {
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

#footer .section-title span {
    color: darkblue;
    font-weight: bold;
}

#footer .footer h2 {
    color: white;
    margin-bottom: 10px;
}

#footer .social-profiles {
    display: flex;
    margin-bottom: 50px;
}

#footer .profile {
    margin-top: 20px;
    margin-left: 20px;
}

#footer .profile img {
    height: 45px;
    width: 45px;
}

#footer .profile:hover img {
    transform: scale(1.1);
    background-color: white;
    border-radius: 60%;
}

#footer .footer p {
    font-size: 1rem;
}

/*footer section ends*/

/*media queries for tablet starts*/
@media only screen and (min-width: 768px) {
    /*services section starts*/
    #services .service-item {
        flex-basis: 45%;
        margin: 2%;
    }
    /*services section ends*/

    /*recent projects section starts*/
    #projects .project-item {
        flex-basis: 100%;   
        margin: 2%;
        height: 250px;
        flex-direction: row;
    }

    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .project-info {
        text-align: justify;
        width: 85%;
    }
     
    /*recent projects section ends*/

    /*about me section starts*/
    #about-me .about-me {
        flex-direction: row;
        max-width: 1000px;
        margin: 0 auto;
        padding: 100px 0;
    }

    #about-me .column-left {
        height: 360px;
        width: 400px;
        margin-right: 20px;
        margin-left: 50px;
    }

    #about-me .column-right {
        text-align: left;
        margin: 20px;
    }
    
    #about-me .column-right h2 {
        font-size: 1rem;
    }
    
    #about-me .column-right p {
        font-size: 1rem;
        text-align: justify;
        /*color: var(--pcolor);*/
        margin: 0 0 25px;
        margin-right: 20px;
    }
    /*about me section ends*/

    /*contact info section starts*/
    #contact-info .contact-footer {
        flex-wrap: nowrap;
    }

    #contact-info .contact-item {
        width: 280px;
        height: 165px;
        flex-basis: 28%;
        margin: 1%;
        padding: 25px 5px 10px;
    }
    
    #contact-info .contact-item p {
        font-size: .8rem;
        margin: 2px 25px 0;
    }
    /*contact info section ends*/
}
/*media queries for tablet ends*/

/*media queries for desktop starts*/
@media only screen and (min-width: 1200px) {
    #services .service-item {
        flex-basis: 20%;
        margin: 2%;
    }

    #about-me .column-right .cta {
        font-size: 2vw;
        letter-spacing: .05rem;
        border: 2px solid black;
        color: black;
    }

    #contact-info .contact-item {
        width: 320px;
        height: 180px;
        flex-basis: 35%;
        margin: 2%;
        padding: 25px 10px 10px;
    }
    
    #contact-info .contact-item p {
        font-size: .9rem;
        margin: 2px 25px 0;
    }
}
/*media queries for desktop ends*/
